@import "./reset";

$fz: 24px;
$maxW: 1920px;
$minW:1200px;
$color-link: #4793C7;
$color-link_hover: #2b536d;
$color-white: #fff;
$black-white: #000;
$footer-color: #4793C7;

body {
    font-family: 'Rubik', sans-serif;
    font-size: $fz;
    font-style: normal;
    font-weight: normal;
}
.container {
    max-width: 856px;
    margin: 0 auto;
}

/*--------------------*/
/* header */ 

header{
    position: relative;
    max-width: $maxW;
    margin: 0 auto;
    background: url(../img5/header-back.jpg) no-repeat;
    .header-img1 {
        position: absolute;
        right: 0; // 115px
        top: 0;
        // width: 1330px;
        // height: 1025px;
    }
    .header__top {
        // padding: 323px auto 256px auto;
        padding-top: 323px;
        padding-bottom: 204px; 
        >h1 {
            width: 664px;
            font-weight: 900;
            color: $color-white;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            font-size: 64px;
            line-height: 100%;
        }
    }
}
/*--------------------*/
/* main */ 
main{
    position: relative;
    max-width: $maxW;
    margin: 0 auto;
    img{
        position: absolute;
        margin-left: 204px;
        margin-top: 67px;
    }
    a{
        display: inline-block;
        color: $color-link;
        margin-bottom: 111px;
        border-bottom: 2px solid $color-link;
    }
    & a:hover{
        color: $color-link_hover;
        border-bottom: transparent 2px solid;
    }
    .desc {
        padding-top: 60px;
        // padding-bottom: 100px;
        color: $black-white;
        line-height: 140%;
        h2{
            font-size: 36px;
            margin-bottom: 37px;
        }
        >p{
            max-width: 686px;
            // margin-bottom: 37px;
            // border: 1px solid #000;
        }
        >p:nth-child(2){
            margin-bottom: 106px;
            // border: 1px solid #000;
        }
        .desc__mb{
            max-width: 773px;
            margin-bottom: 100px;
            >p {
                margin-bottom: 35px;
                // border: 1px solid #000;
            }
        }
        .desc__row2 {
            max-width: 821px;
        }
        .desc__row4 {
            max-width: 796px;
            margin-bottom: 50px;
        }
        .desc__row5 {
            >p:nth-child(3){
                width: 778px;
            }
        }
        // .desc__row5 {
        //     margin-bottom: 0;
        // }
    }
}
/*--------------------*/
/* footer */ 
footer {
    max-width: $maxW;
    margin: 23px auto 34px auto;
    // padding-left: 534px / $maxW * 100%;
    // padding-right: 370px / $maxW * 100%;
    background-color: $footer-color;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0.2em;
    .container {
        p {
            min-width: 1011px;
            margin: 23px auto 34px auto;
            display: inline-block;
            color: $color-white;
        }
    }
    
}
/*--------------------*/
/* media */ 
@media (max-width:1900px) {
    header {
        .header-img1 {
            display: none;
        }
    }
    main {
        img {
            display: none;
        }
    }
}

@media (max-width:1400px) {
    footer {
        p{
            font-size: 44px;
        }
    }
}

$minW:1200px;
@media (max-width: $minW) {
    body{
        .container{
            margin-left: 40px;
            padding-left: 15px;
        }
        header {
            max-width: $minW;
            .header__top{
                >h1{
                    font-size: 69px;
                    width: 100%;
                }
            }
            
        }
        main {
            max-width: $minW;
            // .desc {
            //     .desc__mb {
            //         >p {
            //             padding-right: 135 px;
            //         }
            //     }
            // }
        }
        footer {
            max-width: $minW;
            .container{
                >p{
                    max-width: 100%;
                    min-width: 0;
                    font-size: 36px;
                }
            }
            
        }
    }
}

$w900: 900px;
@media (max-width: $w900) {
    body{
        .container{
            margin-left: 0px;
            padding-left: 20pxpx;
            padding-right: 20px;
        }
        footer {
            .container {
                >p{
                    font-size: 28px;
                }
            }
        }
    }
}


$w768: 768px;
@media (max-width: $w768) {
    html,body{
        overflow-x: hidden
        }
    body{
        .container{
            
            padding-left: 15px;
            padding-right: 15px;
        }
        header {
            max-width: $w768;
            .header__top {
                h1{
                    width: inherit;
                    font-size: 53px;
                }
            }
            
        }
        main {
            max-width: $w768;
            .desc__row5 {
                >p:nth-child(3){
                    width: 100%;
                }
            }
        }
        footer {
            max-width: $w768;
            .container{
                p{
                    max-width: 428px;
                    line-height: 140%;
                    letter-spacing: 0.2em;
                }
            }
            
        }
    }
}

$w620: 620px;
@media (max-width: $w620) {
    body {
        header {
            max-width: $w620;
            .header__top {
                h1{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    font-size: 37px;
                }
            }
        }
        footer {
            p {
                font-size: 23px;
            }
        }
    }
    
}

$w425: 425px;
@media (max-width: $w425) {
    body {
        header {
            max-width: $w425;
            .header__top {
                h1{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    font-size: 27px;
                }
            }
        }
        main {
            max-width: $w425;
        }
        footer {
            max-width: $w425;
            .container {
                max-width: 425px;
                p{
                    font-size: 25px;
                }
            }
            
        }
    }
}

